// User custom variables
// =============================================================================

// Custom font icon
// -----------------------------------------------------------------------------
$icon-fonts: (
 // font-family
 iconfont: (
   weight: normal,
   style: normal,
   // font path
   src: unquote(
       'url("iconfont.woff") format("woff"),
       url("iconfont.ttf") format("truetype"),
       url("iconfont.svg#iconfont") format("svg");'
   )
 ),
);
//
//// icon name-unicode map
$icons: (
 shebaoka: '&#xe62f;',
 shebaoju: '&#xe659;',
 yanglaobaoxian:'&#xe6e8;'
);