// User custom variables
// =============================================================================

// Custom font icon
// -----------------------------------------------------------------------------
$icon-fonts: (
 // font-family
 iconfont: (
   weight: normal,
   style: normal,
   // font path
   src: unquote(
       'url("fonts/iconfont.woff") format("woff"),
       url("fonts/iconfont.ttf") format("truetype"),
       url("fonts/iconfont.svg#iconfont") format("svg");'
   )
 ),
);
//
//// icon name-unicode map
$icons: (
 shebaoka: \e62f,
 shebaoju: \e659,
 yanglaobaoxian:\e6e8,
 menu:\e645
);